In [49]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns',None)

In [50]:
#load inputs

#load site file
sites = pd.read_csv(r"E:\ResSed\MediumResolution_DamLinkages\Manuscript\FinalInputFiles\sites.csv")
#load spatial edits file
spatialedits = pd.read_csv(r"E:\ResSed\MediumResolution_DamLinkages\Manuscript\FinalInputFiles\NID_spatialEdits.csv")


#load damnet to determine which sites belong in the dam attribute file
damnet = pd.read_csv(r"E:\ResSed\MediumResolution_DamLinkages\Manuscript\Outputs_Nov\NIDsMappedInBasins_MedRes_110424.csv")
# damnet = pd.read_csv(r"E:\ResSed\MediumResolution_DamLinkages\Manuscript\Outputs_Melissa\NID_GRanDjoin2.csv")

In [51]:
damnet.head()

,Dam_Name,ShortID,NID,GRAND_ID,IsSite,IsUSBR,IsUSACE,IsGRanD,State,OwnerTypes,PrimaryPur,PrimDamTyp,Reservoir,IsRiverMth,delta,IsLock,yrc,yrr,yrc_source,OCapm3_Rem,Batch_for,NIDStor_m3,GRanDCapm3,MaxStor_m3,StorSource,Dam_Len_m,SA_m2,DA_km2,MaxQ_m3s,DamH_m,NrX_Final,NrY_Final,COMID,LENGTHKM,Hydroseq,Pathlength,DivDASqKM,SLOPE,QA_MA,VA_MA,QC_MA,VC_MA,QE_MA,VE_MA,WBCOMID,D50_mm_,FromDam,ToDam,flag,flagDA,flagTerm,flagHW,countryOut,SiteTag,GRanDTag,RiverTag,DeltaTag
0,Wet Ravine Dam,341114,NV10487,NaN,0,0,0,0,Nevada,Private,Irrigation,Earth,NaN,0,0,0,0,0,NaN,0,NaN,30837.0,0,30837.0,NID,121.92,10117.14105,2.848987,1.132674,6.7056,-119.984816,39.636410,20300809,4.672,10001967,0.000,10.0323,0.056831,0.045647,0.315642,0.020926,0.302072,0.020926,0.302072,0,2.979852,[],NaN,[2 9 1],0,1,9,0,0,0,0,0
1,Marina Lagoon,289740,CA01429,NaN,0,0,0,0,California,Local Government,Flood Risk Reduction,Earth,NaN,0,0,0,1953,0,NID,0,NaN,1973568.0,0,1973568.0,NID,106.68,809371.28400,22.014899,0.000000,5.1816,-122.293107,37.567967,2804517,2.328,10002205,0.000,7.8147,0.000702,0.034971,-3047.695200,0.015603,-3047.695200,0.015603,-3047.695200,0,0.078739,[],NaN,[10 9 1],0,1,9,42,0,0,0,0
2,SacramentoRiver,-1,MOUTH_SacR,NaN,1,0,0,0,NaN,NaN,NaN,NaN,SacramentoRiver,1,0,0,1700,0,Rivers,0,Rivers,0.0,0,0.0,GDAT,0.00,0.00000,0.000000,0.000000,0.0000,-121.793539,38.062953,15048261,2.322,10002293,0.000,66999.6423,0.000103,1166.174569,-3047.695200,1506.131033,-3047.695200,833.189304,-3047.695200,120049838,0.710036,[288955 289838 289932 289630 289107 289608 289...,NaN,[10 1],0,1,0,42,0,0,0,0
3,SanJoaquinRiver,-2,MOUTH_SJR,NaN,1,0,0,0,NaN,NaN,NaN,NaN,SanJoaquinRiver,1,0,0,1700,0,Rivers,0,Rivers,0.0,0,0.0,GDAT,0.00,0.00000,0.000000,0.000000,0.0000,-121.759993,38.027262,1889834,2.471,10002310,12.596,41955.6159,0.000010,400.563421,-3047.695200,463.921525,-3047.695200,221.291205,-3047.695200,120049839,0.821846,[289303 288782 289764 288769 289822 288896 289...,NaN,[10 1],0,1,0,42,0,0,0,0
4,KlamathRiver,-31,MOUTH_Klamath,NaN,1,0,0,0,NaN,NaN,NaN,NaN,KlamathRiver,1,0,0,1700,0,Rivers,0,Rivers,0.0,0,0.0,GDAT,0.00,0.00000,0.000000,0.000000,0.0000,-124.079752,41.546141,4438382,0.644,10003026,0.000,34774.0911,0.000078,707.585579,-3047.695200,868.462551,-3047.695200,531.006205,-3047.695200,120049323,3.187478,[289941 289867 289829 289638 126948 36971 2895...,NaN,[10 1],0,1,0,42,0,0,0,0

In [52]:
att = pd.merge(sites,spatialedits,how='outer',left_on='NID',right_on='NID_ID',indicator=True)


# att = att[['NID','ShortID','Year_Compl_site','Batch_for','CapOrig_m3','Capm3_p','IsSite','IsUSBR','IsUSACE','IsLock']]
att.loc[att.NID.isna(),'NID'] = att.NID_ID
att.loc[att.Lat.isna(),'Lat'] = att.lat
att.loc[att.Long.isna(),'Long'] = att.long


att.loc[(att['_merge']=='both'),'Lat'] = att.lat #use spatial edits lat and long if a join between both files
att.loc[(att['_merge']=='both'),'Long'] = att.long

att.loc[att.CapOrig_m3.isna(),'CapOrig_m3'] = att.Capm3_p
att.IsSite = att.IsSite.fillna(0)
att.IsRiverMth = att.IsRiverMth.fillna(0)
att.IsUSBR = att.IsUSBR.fillna(0)
att.IsUSACE = att.IsUSACE.fillna(0)
att.delta = att.delta.fillna(0)

att.loc[att['_merge']=='left_only','Moved'] = 1 #assign moved to be 1 for site file
att.Moved = att.Moved.fillna(0)
att.Deleted = att.Deleted.fillna(0)

att = pd.merge(att,damnet[['NID','ShortID']],how = 'left',on='NID')

att['ShortID'] = att['ShortID_x']
att.loc[att.ShortID.isna(),'ShortID'] = att.ShortID_y

att.loc[~att.USBRname.isna(),'Reservoir'] = att.USBRname

att = att.drop(['ShortID_x','ShortID_y','lat','long', 'Unnamed: 0', 'Unnamed: 5','_merge'],axis=1)
# att = att[['NID','ShortID','Reservoir','Lat','Long','Moved','Deleted','Year_Compl_site','YrRemoved','Batch_for','CapOrig_m3','IsSite','IsUSBR','IsUSACE','IsRiverMth','delta','IsLock']]

# att.rename(columns = {'CapOrig_m3':'Capacity_m3','Year_Compl_site':'Year_Compl_user','Batch_for':'DataSource'}, inplace=True)
att.head()

# att.IsSite = 0
# att.loc[(att.IsUSBR == 1)|(att.IsUSACE == 1),'IsSite'] = 1



# att.to_csv(r"E:\ResSed\MediumResolution_DamLinkages\Manuscript\FinalInputFiles\attributes_Mel.csv",index=False)

,Reservoir,NID,Year_Compl_site,Year_First,Year_Last,Lat,Long,Owner,Batch_for,RES_SED_No,CapOrig_m3,CapNew_m3,DA_km,IsSite,CapOrigAF,CapNewAF,YrRemoved,IsRiverMth,SiteIsGRanD,IsUSBR,IsUSACE,delta,IsLock,GRanD_ID,yr_p,elev_ft,Capm3_p,USBRname,CapAF_p,USACE_PROJECT_ID,NID_ID,Moved,Deleted,ShortID
0,NaN,AL00007,NaN,NaN,NaN,33.459232,-86.456175,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL00007,1.0,0.0,285109.0
1,NaN,AL00032,NaN,NaN,NaN,31.159316,-87.708861,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL00032,1.0,0.0,285129.0
2,NaN,AL00098,NaN,NaN,NaN,34.513287,-87.809037,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL00098,1.0,0.0,285182.0
3,NaN,AL00131,NaN,NaN,NaN,32.467301,-87.694376,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL00131,1.0,0.0,373131.0
4,NaN,AL00542,NaN,NaN,NaN,33.025649,-87.163399,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL00542,1.0,0.0,285547.0

In [54]:
len(att.loc[att.DA_km.notna()])

1066

In [18]:
att.loc[(att.Batch_for=='iCOLD') & (att.Year_Compl_site.isnan)]

AttributeError: 'Series' object has no attribute 'isnan'

In [19]:
damnet = pd.read_csv(r"E:\ResSed\MediumResolution_DamLinkages\Manuscript\Outputs_Melissa\NIDsMappedInBasins_MedRes_103024.csv")

In [32]:
len(damnet.loc[damnet.yrc_source=='iCOLD'])

293

In [33]:
len(damnet.loc[damnet.StorSource=='iCOLD'])

4

In [46]:
len(damnet.loc[(damnet.yrc_source!='NID')&(damnet.yrc_source!='GRanD')&(damnet.yrc_source!='iCOLD')&(damnet.yrc_source!='GDAT')&(damnet.yrc_source!='Rivers')&(damnet.yrc_source.notna())])

919

In [47]:
len(damnet.loc[(damnet.StorSource!='NID')&(damnet.StorSource!='GRanD')&(damnet.StorSource!='iCOLD')&(damnet.StorSource!='GDAT')&(damnet.StorSource!='Rivers')&(damnet.StorSource.notna())])

31

In [48]:
len(damnet)

57453